[submodule "nodejs/alphabetShifter"]
	path = nodejs/alphabetShifter
	url = git@github.com:timmytandian/alphabetShifter.git
[submodule "terraform/terraform_devopsdirective_demo"]
	path = terraform/terraform_devopsdirective_demo
	url = git@github.com:timmytandian/terraform_devopsdirective_demo.git
