[submodule "terraform/tfc-getting-started"]
	path = terraform/tfc-getting-started
	url = https://github.com/hashicorp/tfc-getting-started.git
[submodule "nodejs/alphabetShifter"]
	path = nodejs/alphabetShifter
	url = git@github.com:timmytandian/alphabetShifter.git
[submodule "terraform/terraform_devopsdirective_demo"]
	path = terraform/terraform_devopsdirective_demo
	url = git@github.com:timmytandian/terraform_devopsdirective_demo.git
